In [1]:
# Dictionary
# Indexed
# Ordered
# Multiple data
# Mutable

In [2]:
# a={<key>:<value>,<key>:<value>}
a={'a':"Apple",'b':"Ball",'c':"Cat"}
print(a)
print(type(a))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [3]:
print(a['c'])

Cat

In [4]:
a={'a':"Apple",'b':"Ball",'c':"Cat"}
print(len(a))

3

In [5]:
a={'a':"Apple",'b':"Ball",'c':"Cat"}
a['d']="Dog"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [7]:
a={}
a['a']="Apple"
a['b']="Ball"
a['c']="Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
data={}
n=int(input("Enter a value of n= "))
for i in range(n):
    name=input("Enter name= ")
    phone=int(input("Enter a number= "))
    data[name]=phone
    
print(data)

Enter a value of n= 2
Enter name= ram
Enter a number= 9999
Enter name= shyam
Enter a number= 8888
{'ram': 9999, 'shyam': 8888}

In [9]:
a={'ram':"9999",'shyam':"8888"}
a['ram']=7777
a

{'ram': 7777, 'shyam': '8888'}

In [10]:
a={'ram':"9999",'shyam':"8888"}
for i in a:
    print(i)

ram
shyam

In [11]:
a={'ram':"9999",'shyam':"8888"}
for i in a.values():
    print(i)

9999
8888

In [12]:
a={'ram':"9999",'shyam':"8888"}
for i in a.items():
    print(i)

('ram', '9999')
('shyam', '8888')

In [14]:
a={'ram':"9999",'shyam':"8888"}
del a['ram']
a

{'shyam': '8888'}

In [15]:
a={'ram':"9999",'shyam':"8888"}
b= a.pop('ram')
print(a)
print(b)

{'shyam': '8888'}
9999

In [2]:
#list inside dictionary

#a={'ram':[9999,7777],'shyam':[8888,5555]}
info={}
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name= ")
    ntc_phone=int(input("Enter ntc num= "))
    ncell_phone=int(input("Enter ncall num= "))
    info[name]=[ntc_phone,ncell_phone]
    
print(info)

Enter n= 1
Enter name= ram
Enter ntc num= 000
Enter ncall num= 333
{'ram': [0, 333]}

In [4]:
a={'ram':[9999,7777],'shyam':[8888,5555]}
a['ram'][0]

9999

In [5]:
a={'ram':[9999,7777],'shyam':[8888,5555]}
a['ram'].append(2222)
a

{'ram': [9999, 7777, 2222], 'shyam': [8888, 5555]}

In [6]:
a['hari']=[1234,5667]
a

{'ram': [9999, 7777, 2222], 'shyam': [8888, 5555], 'hari': [1234, 5667]}

In [8]:
a={'Name':["Ram","shyam"],
    'NTC':[9999,8888],
    'NCELL':[23445,56777]}
a

{'Name': ['Ram', 'shyam'], 'NTC': [9999, 8888], 'NCELL': [23445, 56777]}

In [9]:
info={'Name':[],'NTC':[],'NCELL':[]}
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name= ")
    ntc_phone=int(input("Enter ntc num= "))
    ncell_phone=int(input("Enter ncall num= "))
    info['Name'].append(name)
    info['NTC'].append(ntc_phone)
    info['NCELL'].append(ncell_phone)
    
print(info)

Enter n= 2
Enter name= ram
Enter ntc num= 2222
Enter ncall num= 3333
Enter name= shyam
Enter ntc num= 4444
Enter ncall num= 5555
{'Name': ['ram', 'shyam'], 'NTC': [2222, 4444], 'NCELL': [3333, 5555]}

In [10]:
info=[{'Name':'ram','Age':20,"Add":'ktm'},
     {'Name':'shyam','Age':30,"Add":'bkt'},
     {'Name':'rita','Age':50,"Add":'bkt'},
     {'Name':'geeta','Age':45,"Add":'ktm'}]

info[0]

{'Name': 'ram', 'Age': 20, 'Add': 'ktm'}

In [12]:
info[0]['Name']

'ram'

In [13]:
info[0]["Name"]="krish"
info

[{'Name': 'krish', 'Age': 20, 'Add': 'ktm'},
 {'Name': 'shyam', 'Age': 30, 'Add': 'bkt'},
 {'Name': 'rita', 'Age': 50, 'Add': 'bkt'},
 {'Name': 'geeta', 'Age': 45, 'Add': 'ktm'}]

In [15]:
info=[]
n=int(input("Enter a number= "))
for i in range(n):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=input("Enter address= ")
    data={'Name':name,'Age':age,"Add":add}
    info.append(data)
print(info)

Enter a number= 1
Enter name= sam
Enter age= 59
Enter address= ktm
[{'Name': 'sam', 'Age': 59, 'Add': 'ktm'}]

In [5]:
#dictionary inside dictionary

a= {176878:{'Name': 'krish', 'Age': 20, 'Add': 'ktm'},
    264674:{'Name': 'shyam', 'Age': 30, 'Add': 'bkt'},
    346674:{'Name': 'rita', 'Age': 50, 'Add': 'bkt'},
    436367:{'Name': 'geeta', 'Age': 45, 'Add': 'ktm'}}

print(a)

{176878: {'Name': 'krish', 'Age': 20, 'Add': 'ktm'}, 264674: {'Name': 'shyam', 'Age': 30, 'Add': 'bkt'}, 346674: {'Name': 'rita', 'Age': 50, 'Add': 'bkt'}, 436367: {'Name': 'geeta', 'Age': 45, 'Add': 'ktm'}}

In [6]:
print(a[436367])

{'Name': 'geeta', 'Age': 45, 'Add': 'ktm'}

In [7]:
a[787683]={'Name':'sabin','Age':56,'Add':'ktm'}
a

{176878: {'Name': 'krish', 'Age': 20, 'Add': 'ktm'},
 264674: {'Name': 'shyam', 'Age': 30, 'Add': 'bkt'},
 346674: {'Name': 'rita', 'Age': 50, 'Add': 'bkt'},
 436367: {'Name': 'geeta', 'Age': 45, 'Add': 'ktm'},
 787683: {'Name': 'sabin', 'Age': 56, 'Add': 'ktm'}}

In [ ]:
#WAP to create dictionary inside dictionary.