In [1]:
# # file(<file_name>, modes)

# MODES:
# create = x
# read= r
# write= w
# append= a

In [2]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("The File Is Already There.")

The File Is Already There.

In [3]:
pwd

'C:\\Users\\thapa\\Untitled Folder 3'

In [6]:
b=open('data.txt','r')
print(b.read())
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [7]:
with open('data.txt','r') as b:
    print(b.read())

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [8]:
b=open('data.txt','r')
x= b.read()
print(type(x))
print(x)
b.close()

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [9]:
b=open('data.txt','r')
x= b.read().split('\n')
print(type(x))
print(x)
b.close()

<class 'list'>
['1.Hello World', '2.Hello World', '3.Hello World', '4.Hello World', '5.Hello World', '6.Hello World', '7.Hello World', '8.Hello World']

In [11]:
line_no=int(input("Enter line number: "))
print(x[line_no-1])

Enter line number: 3
3.Hello World

In [13]:
b=open('data.txt','r')
print(b.read(10))
b.close()

1.Hello Wo

In [14]:
b=open('datas.txt','w')
b.write("HELLO WORLD")
b.close()

In [1]:
s=str()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter a name=")
    phone=int(input("Enter number="))
    info=f"{name},{phone}\n"
    s=s+info
    
print(s)

b=open('datas.txt','w')
b.write(s)
b.close()

Enter n=2
Enter a name=sandes
Enter number=999
Enter a name=rites
Enter number=888
sandes,999
rites,888

In [3]:
s=str()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter a name=")
    phone=int(input("Enter number="))
    info=f"{name},{phone}\n"
    s=s+info
    
print(s)

b=open('datas.csv','w')
b.write('name,phone\n')
b.write(s)
b.close()

Enter n=2
Enter a name=sandes
Enter number=333
Enter a name=rites
Enter number=666
sandes,333
rites,666

In [4]:
import pandas as pd
df=pd.read_csv('datas.csv')
df

     name  phone
0  sandes    333
1   rites    666