In [1]:
#list inside list
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(len(a))

3

In [2]:
print(a[2])

[7, 8, 9]

In [3]:
a=[["Ram",34,"Kathmandu"],
   ["shyam",23,"Gwarko"],
   ["hari",34,"bhaktapur"]]
print(a)

[['Ram', 34, 'Kathmandu'], ['shyam', 23, 'Gwarko'], ['hari', 34, 'bhaktapur']]

In [8]:
a[0][2]

'Kathmandu'

In [10]:
name=input("Enter name= ")
for i in a:
    if name in i:
        print(i)

Enter name= Ram
['Ram', 34, 'Kathmandu']

In [11]:
a=[]
n=int(input("Enter a number="))
for i in range(n):
    name =input("Enter name= ")
    age= int(input("Enter age= "))
    l=input("Enter location= ")
    data=[name,age,l]
    a.append(data)
    
print(a)

Enter a number=1
Enter name= sandes
Enter age= 25
Enter location= lubhu
[['sandes', 25, 'lubhu']]

In [13]:
a=[["Ram",34,"Kathmandu"],
   ["shyam",23,"Gwarko"],
   ["hari",34,"bhaktapur"]]
del a[0]
a

[['shyam', 23, 'Gwarko'], ['hari', 34, 'bhaktapur']]

In [14]:
a=[["Ram",34,"Kathmandu"],
   ["shyam",23,"Gwarko"],
   ["hari",34,"bhaktapur"]]
a[0][0]= "Ram prasad"
a

[['Ram prasad', 34, 'Kathmandu'],
 ['shyam', 23, 'Gwarko'],
 ['hari', 34, 'bhaktapur']]

In [15]:
a=[["Ram",34,"Kathmandu"],
   ["shyam",23,"Gwarko"],
   ["hari",34,"bhaktapur"]]
a.append(["Ram",34,"baluwatar"])
a

[['Ram', 34, 'Kathmandu'],
 ['shyam', 23, 'Gwarko'],
 ['hari', 34, 'bhaktapur'],
 ['Ram', 34, 'baluwatar']]

In [17]:
a=[["Ram",34,"Kathmandu"],
   ["shyam",23,"Gwarko"],
   ["hari",34,"bhaktapur"]]

name=input("Enter name= ")
for i in a:
    if name in i:
        a.remove(i)
a

Enter name= shyam

[['Ram', 34, 'Kathmandu'], ['hari', 34, 'bhaktapur']]

In [ ]:
#WAP to create a matrix by taking input from user  (hint: row and column)