In [42]:
#matrix

r=int(input("Enter row= "))
c=int(input("Enter column= "))
matrix=[]

for i in range(r):
    a=[]
    for j in range(c):
        a.append(int(input()))
        matrix.append(a)

for i in range(r):
    for j in range(c):
        print( matrix[i][j] ,end= "  ")
    print()

Enter row= 2
Enter column= 2
2
3
2
3
2  3
2  3

In [2]:
#WAP to create tuple inside tuple

t=tuple()
num=int(input("How many data you want to enter= "))

for i in range(num):
    a=input("\nEnter a name= ")
    b=int(input("Enter a age= "))
    c=input("Enter a location= ")
    
    t=t+((a,b,c,),)
    
print(t)
print(type(t))

How many data you want to enter= 2

Enter a name= ram
Enter a age= 23
Enter a location= luvu

Enter a name= sita
Enter a age= 34
Enter a location= lamatar
(('ram', 23, 'luvu'), ('sita', 34, 'lamatar'))
<class 'tuple'>

In [1]:
#WAP to convert tuple inside tuple to list inside list and vice versa

t=tuple()
num=int(input("How many data you want to enter= "))

for i in range(num):
    a=input("\nEnter a name= ")
    b=int(input("Enter a age= "))
    c=input("Enter a location= ")
    
    t=t+((a,b,c,),)
    
    con=list(t)
    
print(con)
print(type(con))

How many data you want to enter= 2

Enter a name= san
Enter a age= 12
Enter a location= ktm

Enter a name= man
Enter a age= 23
Enter a location= ktm
[('san', 12, 'ktm'), ('man', 23, 'ktm')]
<class 'list'>