In [1]:
#string
a="Hello world"
print(a)
print(type(a))

Hello world
<class 'str'>

In [3]:
a="Hello "
b="World"
c=a+b
print(c)

Hello World

In [4]:
a="Hello world\n"
print(a*3)

Hello world
Hello world
Hello world

In [5]:
a="Hello world"
print(a[2])

l

In [9]:
a="Hello world"
print(a[0:5])

Hello

In [10]:
a="Hello world"
print(a[0:10:2])

Hlowr

In [11]:
a="Hello world"
b=a[0:5]
c=a[5:]
print(b)
print(c)

Hello
 world

In [14]:
a="Hello World"
l=len(a)
print(a[l::-1])

dlroW olleH

In [18]:
#string formatting
name=input("Enter name= ")
age=int(input("Enter age= "))
add= input("Enter address= ")

info= "Hello world I am "+name+" I am from "+add+" I am "+str(age)+" years old. "
print(info)

Enter name= sasas
Enter age= 37
Enter address= ghf
Hello world I am sasas I am from ghf I am 37

In [19]:
#string formatting
name=input("Enter name= ")
age=int(input("Enter age= "))
add= input("Enter address= ")

info= f"Hello world I am {name} . I am from {add} . I am {age} years old. "
print(info)

Enter name= asa
Enter age= 33
Enter address= dada
Hello world I am asa . I am from dada . I am 33 years old.

In [22]:
s = str()
n = int(input('enter n = '))
for i in range (n):
    name= input("enter name = ")
    phone = int(input("phone = \n"))
    info = f"{name}{phone}"
    s= s+info
    
print(s)

enter n = 1
enter name = ddadasd
phone = 3523524
ddadasd3523524

In [24]:
a="ram shyam hari sita ram gita  nabin ram"
name=input("Enter name= ")
if name in a:
    print("YES")
    print(a.count(name))

Enter name= ram
YES
3

In [26]:
a="ram shyam hari sita ram gita  nabin ram"
a.upper()

'RAM SHYAM HARI SITA RAM GITA  NABIN RAM'

In [34]:
a="ram shyam hari sita RAM gita  nabin ram".lower()
name=input("Enter name= ").lower()
if name in a:
    print("YES")
    print(a.count(name))

Enter name= a
YES
8

In [30]:
a="ram shyam hari sita ram gita  nabin ram"
a.title()

'Ram Shyam Hari Sita Ram Gita  Nabin Ram'

In [33]:
a="ram shyam hari sita ram gita  nabin ram"
a=a.upper()
print(a)

RAM SHYAM HARI SITA RAM GITA  NABIN RAM

In [35]:
a="ram shyam hari sita ram gita  nabin ram"
a=a.replace('ram',"Ram")
print(a)

Ram shyam hari sita Ram gita  nabin Ram

In [36]:
a="ram shyam hari sita ram gita  nabin ram"
a=a.replace('ram',"")
print(a)

 shyam hari sita  gita  nabin

In [ ]:
# #WAP to develop a billing application using string and loop.
# name
# price
# quantity
# total
# #grand total