In [5]:
#tuple
a=tuple()
a=(1,2,3,4,5,6,)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [4]:
a=(1,)
b=("Apple",)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [7]:
a=("Apple","Ball","Cat","Dog")
print(a[0])
print(a[0:4])
print(a[0:4:2])

Apple
('Apple', 'Ball', 'Cat', 'Dog')
('Apple', 'Cat')

In [8]:
a=("Apple","Ball","Cat","Dog")
b=("Fish",)
c=a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [9]:
a=("Apple","Ball","Cat","Dog")
a*2

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [10]:
# # no append()
# # no insert()
# no update()
# no extend()
# no del() remove() pop()

In [11]:
t=tuple()
n=int(input("Enter n= "))
for i in range(n):
    x=input("Enter x= ")
    t=t+ (x,)
    
print(t)

Enter n= 2
Enter x= Apple
Enter x= Ball
('Apple', 'Ball')

In [13]:
def cal():
    a=10
    b=20
    return a,b

cal()

(10, 20)

In [14]:
a=10,11,12
a

(10, 11, 12)

In [15]:
a=('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')
b=list(a)
del b[0]
a=tuple(b)
a

('Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [17]:
# tuple inside tuple
a= (("Ram",34,"Kathmandu"),
    ("shyam",23,"Gwarko"),
    ("hari",34,"bhaktapur"))
a

(('Ram', 34, 'Kathmandu'), ('shyam', 23, 'Gwarko'), ('hari', 34, 'bhaktapur'))

In [19]:
a= (("Ram",34,"Kathmandu"),
    ("shyam",23,"Gwarko"),
    ("hari",34,"bhaktapur"))
b=(("Nabin",32,"chitwan"),)
print(a+b)

(('Ram', 34, 'Kathmandu'), ('shyam', 23, 'Gwarko'), ('hari', 34, 'bhaktapur'), ('Nabin', 32, 'chitwan'))

In [21]:
#WAP to create tuple inside tuple

In [22]:
a= (("Ram",34,"Kathmandu"),
    ("shyam",23,"Gwarko"),
    ("hari",34,"bhaktapur"))
b=list(a)
del b[0]
b

[('shyam', 23, 'Gwarko'), ('hari', 34, 'bhaktapur')]

In [24]:

b.append(("nabina",27,"lamatar"))
b

[('shyam', 23, 'Gwarko'), ('hari', 34, 'bhaktapur'), ('nabina', 27, 'lamatar')]

In [25]:
b[0]

('shyam', 23, 'Gwarko')

In [ ]:
#WAP to convert tuple inside tuple to list inside list and vice versa
#WAP to perform CRUD list inside tuple
# hint ([])