In [1]:
# for loop
# while loop

In [2]:
# # for(i=0 ; i<5; i++)
#     (
    
#     )

In [3]:
# range(5) 0,1,2,3,4
# range(1,5) 1,2,3,4
# range(1,10,2) 1,3,5,7,9

In [4]:
for i in range(5):
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [5]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [6]:
for i in range(1,10,2):
    print(i,"Hello world")

1 Hello world
3 Hello world
5 Hello world
7 Hello world
9 Hello world

In [7]:
for i in range(10,-1,-1):
    print(i,"Hello world")

10 Hello world
9 Hello world
8 Hello world
7 Hello world
6 Hello world
5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world
0 Hello world

In [8]:
n= int(input("Enter a value of n: "))
for i in range(1,11):
    print(i*n)

Enter a value of n: 3
3
6
9
12
15
18
21
24
27
30

In [1]:
n= int(input("Enter a value of n: "))
for i in range(1,11):
    print(n, "*" ,i, "=",i*n)

Enter a value of n: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [2]:
s = 0
n= int(input("Enter a value of n: "))
for i in range(n):
    x= int(input("Enter value of x: "))
    s= s+x
    
print(s)

Enter a value of n: 3
Enter value of x: 4
Enter value of x: 4
Enter value of x: 4
12

In [ ]:
# a= int()
# b= float()
# c= str()

In [4]:
s = str()
n= int(input("Enter a value of n: "))
for i in range(n):
    x= input("Enter enter name: ")
    s= s+x+"\n"
    
print(s)

Enter a value of n: 3
Enter enter name: sandes
Enter enter name: ritesh
Enter enter name: ram
sandes
ritesh
ram

In [5]:
s = str()
n= int(input("Enter a value of n: "))
for i in range(n):
    name= input("Enter name: ")
    phone=input("Enter phone: ")
    s= s+name+" "+phone+"\n"
    
print(s)

Enter a value of n: 3
Enter name: sandesh
Enter phone: 9999
Enter name: ram
Enter phone: 8888
Enter name: rites
Enter phone: 2222
sandesh 9999
ram 8888
rites 2222

In [1]:
fac=1
n= int(input("enter value of n= "))
for i in range(1,n+1):
    fac= fac*i
print(fac)

enter value of n= 5
120

In [25]:
a="python"
for i in a:
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world

In [28]:
a="python"
for i in a:
    print(i)

p
y
t
h
o
n

In [31]:
a= "Hello world i am python"
for i in a:
    if i !=" ":
        print(i)

H
e
l
l
o
w
o
r
l
d
i
a
m
p
y
t
h
o
n

In [33]:
a= "Hello world i am python"
for i in a:
    if i !=" ":
        print(i,end=".")

H.e.l.l.o.w.o.r.l.d.i.a.m.p.y.t.h.o.n.

In [34]:
a= "Hello world i am python"
for i in a:
    if i !=" ":
        print(i,end="")

Helloworldiampython

In [ ]:
# control statement
# break
# continue
# pass

In [35]:
# break statement
for i in range(10):
    if i ==5:
        break
    else:
        print(i)

0
1
2
3
4

In [36]:
# continue statement
for i in range(10):
    if i ==5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [39]:
# continue statement
for i in range(10):
    if i ==5:
        continue
    else:
        print(i, end = " ")

0 1 2 3 4 6 7 8 9

In [43]:
a= "Hello world i am python"
for i in a:
    if i ==" ":
        continue
    print(i,end="")

Helloworldiampython